*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* CABECERA */
.cabecera{
    width: 100%;
    height: 100vh;
    background-color:rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cabecera__figure {
    width: 45%;
}

.cabecera__figure img {
    width: 70%;
}

.cabecera__content {
    width: 45%;
    animation: color_letra 1.5s ease-in 1 forwards;
}

.cabecera__content h2{
    margin-bottom: 5%;
}

.cabecera__content h3{
    font-size: 5rem;
    margin-bottom: 5%;

    animation: color_letra2 1.5s ease-in 1 forwards;
}

.cabecera__content p:first-of-type{
    line-height: 1.5rem;
}

.cabecera__content p:last-child {
    margin-top: 5%;
}

.cabecera__content p:last-child::after{
    content: "$299";
    font-size: 3rem;
    font-weight: bold;
}


@keyframes color_letra {
    from {
        color: rgb(41, 41, 41);
    }


    to{
        color: white;
    }
}

@keyframes color_letra2 {
    from {
        color: rgb(41, 41, 41);
    }

    to{
        color: aqua;
    }
}

/* MODO MOVIL */

@media screen and (max-width:400px) {
    .cabecera__figure{
        width: 100%;
    }
    
    .cabecera__figure img{
        width: 100%;
    }

    .cabecera__content{
        width: 100%;
        text-align: center;
    }
}

/* MODO TABLET */

@media screen and (min-width:401px) and (max-width:800px) {
    .cabecera__figure{
        width: 100%;
    }
    
    .cabecera__figure img{
        width: 100%;
    }

    .cabecera__content{
        width: 100%;
        text-align: center;
    }
}


/* FIN CABECERA */


/* SECCIÓN 1 */

.seccion1{
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
    align-items: center;
    gap: 5%;
    text-align: justify;
}


.seccion1__item h3{
    color: aqua;
    margin-bottom: 7%;
    text-align: center;
}

.seccion1__item img{
    width: 15%;
    margin-right: 42.5%;
    margin-left: 42.5%;
    margin-bottom: 7%;
}

/* RESPONSIVE SECCIÓN 1 */
@media screen and (max-width:400px) {
    .seccion1 {
        grid-template-columns: repeat(1,50%);
        height: 120vh;
    }

    .seccion1__item{
        margin-top: 15%;
    }
}


@media screen and (min-width:401px) and (max-width:800px) {
    .seccion1 {
        grid-template-columns: repeat(2,40%);
        height: 60vh;
    }

    .seccion1__item{
        margin-top: 10%;
    }
}

/* FIN SECCIÓN 1 */

/* SECCIÓN 2 */

.seccion2{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seccion2__content {
    height: 50vh;
    width: 50%;
    background-color: rgb(37, 141, 182);
    color: white;
    text-align: left;
    
}

.seccion2__content h2{
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 60%;
    font-size: 1.7rem;
}

.seccion2__content p {
    margin: 0 auto;
    width: 60%;
    line-height: 2rem;
}


.seccion2__imagen{
    width: 50%;
    height: 50vh;
    object-fit: cover;
}

.seccion2__imagen img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:400px) {
    .seccion2{
        height: 100vh;
        margin-top: 10%;
    }

    .seccion2__content{
        width: 100%;
    }

    .seccion2__imagen{
        width: 100%;
    }

    .seccion2__content h2{
        margin-top: 25%;
        font-size: 1.5rem;
    }

    .seccion2__content p {
        width: 90%;
        line-height: 1.5rem;
    }
}

@media screen and (min-width:401px) and (max-width:800px){
    .seccion2{
        margin-top: 5%;
    }

    .seccion2__content h2{
        margin-top: 20%;
    }
}


/* FIN SECCIÓN 2 */

/* INICIO SECCIÓN 3 */

.seccion3{
    height: 60vh;
    width: 100%;
}

.seccion3 h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3.5rem;
    color: rgb(37, 141, 182);
}

.cascos {
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 40%);
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.seccion3__item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    overflow: hidden;
    
}

.seccion3__item .content{
    width: 50%;
    padding-left: 20px;
    color: rgb(37, 141, 182);
}

.seccion3__item .content p:first-child{
    margin-bottom: 10%;
}

.seccion3__item figure {
    width: 50%;
    transition: 0.3s linear;
}

.seccion3__item figure img {
    width: 60%;
}

.seccion3__item:first-child{
    margin-bottom: 10%;
}

.seccion3__item:last-child{
    grid-row: -1/-3;
    grid-column: 2/3;
    height: 100%;
    background-color: rgb(37, 141, 182);
    font-size: 1.8rem;
}

.seccion3__item:last-child .content {
    color: white;
}

.seccion3__item:hover figure{
    transform: scale(1.5);
    transition: 0.3s linear;
}

.seccion3__item:hover {
    transform: scale(1.2);
    transition: 0.3s linear;
}

/* FIN SECCIÓN 3 */

/* SECCIÓN 4 */
.seccion4{
    margin-top: 5%;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seccion4__img{
    width: 50%;
    height: 100%;
}

.seccion4__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seccion4__content{
    width: 50%;
}

.seccion4__content h2{
    margin-left: 5%;
    margin-bottom: 5%;
}

.seccion4__content p{
    width: 70%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.seccion4__content input{
    display: block;
    width: 70%;
    height: 35px;
    margin-left: 5%;
}


.seccion4__content button {
    width: 70%;
    background-color: rgb(37, 141, 182);
    margin-left: 5%;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
}


@media screen and (max-width:400px) {

    .seccion4__content{
        margin-top: 5%;
        width: 90%;
        height: 50%;
    }

    .seccion4__img{
        width: 100%;
        height: 50%;
    }

    .seccion4{
        margin-bottom: 15px;
    }
}

/* FIN SECCIÓN 4 */


/* FOOTER */
footer {
    text-align: center;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(37, 141, 182);
}