fieldset:first-child{
    background-color: #63594D;
    color: white;
}

legend{
    background-color: #EAE3D1;
    color: black;
}

fieldset:first-child>label{
    padding-right: 130px;
}

fieldset>label:nth-of-type(4), fieldset>label:nth-of-type(5){
    padding-right: 20px;
}

fieldset:nth-child(2){
    background-color: #b18272;
}

fieldset:nth-child(3){
    background-color: #c2b291;
}

fieldset:nth-child(4){
    background-color: #d6e4c3;
}

fieldset:nth-child(5){
    background-color: #EAE3D1;
}

