fieldset:first-child{
    background-color: #63594D;
    color: white;
}

legend{
    background-color: #EAE3D1;
    color: black;
}

fieldset:first-child>label{
    padding-right: 130px;
}

fieldset>label:nth-of-type(4), fieldset>label:nth-of-type(5){
    padding-right: 20px;
}

