*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-bg: #F2E4D8;
    --color-primary: #8C0F31;
    --color-secondary: #BF2A52;
}


/* CABECERA */
.cabecera {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.content{
    width: 50%;
    color: var(--color-primary);
    font-size: 2.2rem;
    animation: animacion_inicio 1s ease 1;
}

.content h2{
    width: 70%;
    margin-bottom: 75px;
}

.content p{
    font-size: 1.3rem;
    font-weight: bold;
}

.cabecera figure {
    width: 40%;
    animation: animacion_inicio2 0.8s ease 1;
}

.cabecera figure img{
    width: 70%;
}


@keyframes animacion_inicio {
    0%{
        transform: translateY(200%);
    }

    

    100%{
        transform: translateX(-0%);
    }
}


@keyframes animacion_inicio2 {
    0%{
        transform: translateX(100%);
    }


    100%{
        transform: translateX(0%);
    }
}

/* FIN CABECERA */



/* BOTÓN VER MAS */

.view_more{
    width: 100%;
    height: 15vh;
    margin-top: 30px;
}


.btn__view_more {
    padding: 10px;
    margin-left: 140px;
    margin-top: 20px;
    height: 40px;
    width: 15%;
    background-color: white;
    border:1px solid var(--color-secondary);
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 5%;
    position: relative;
    text-decoration: none;
}

.btn__view_more::after{
    content: "Para Ver más Pulsa";
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    z-index: 1;
    clip-path: polygon(0 39%, 0 0, 0 0, 0 39%);
    transition: 0.5s;
}


.btn__view_more:hover::after{
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    color: #F2E4D8;
    transition: 0.5s;
}


#tienda {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#tienda img {
    position: relative;
    width: 60%;
    height: 80vh;
}

#tienda a {
    width: 40px;
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    position: absolute;
    top: 10%;
    right: 20%;
    text-decoration: none;
}

#tienda:target {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    transition: 1s;
}
/* FIN BOTÓN VER MAS */


/* SECCIÓN 1 */
.seccion1 {
    width: 100%;
    height: 100vh;
    text-align: center;
}

.seccion1 h2{
    margin-top: 10px;
    margin-bottom: 20px;
}

.seccion1 p {
    margin-bottom: 25px;
    font-size: 0.8rem;
}

.seccion1 .galeria{
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,40vh);
    gap: 15px;
    background-color: var(--color-bg);
    justify-content: center;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria .galeria-item{
    position: relative;
}


.galeria .galeria-item::after{
    content:"Diseña tu propia web. Impulsa tu marca en internet y haz que tu público te conozca gracias a tu web";
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    background-color: rgb(140, 15, 49,0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.5s;
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.galeria-item:hover::after{
    clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
    transition: 0.5s;
}

/* FIN SECCIÓN 1 */


/* SECCIÓN 2 */
.seccion2{
    margin-top: 40px;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
}

.seccion2>h2{
    text-align: center;
    height: 170px;
    line-height: 170px;
}

.seccion2 .precios {
    margin-top: 70px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}


.precio__item{
    width: 30%;
    background-color: white;
    text-align: center;
    border-radius: 10%;
}

.precio__item h2 {
    margin-top: 45px;
    margin-bottom: 25px;
}

.precio__item p:first-of-type{
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 25px;
}


.precio__item i {
    font-size: 5rem;
    color: var(--color-primary);
    margin-bottom: 25px;
}

.precio__item p:nth-of-type(2){
    font-weight: bold;
    margin-bottom: 25px;
}

.precio__item:nth-of-type(2) p:nth-of-type(3){
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.precio__item p:nth-of-type(3){
    margin-bottom: 25px;
}


.precio__item button{
    display: block;
    width: 35%;
    margin: 0 auto;
    height: 40px;
    color: var(--color-primary);
    background-color: var(--color-bg);
    border-radius: 10%;
    border: none;
    margin-bottom: 35px;
}



.precio__item:hover {
    color: white;
    background-color: var(--color-primary);

    transform: scale(1.1);
    transition: transform 1s;
}

.precio__item:hover i {
    color: white;
}

.precio__item:hover p:first-of-type{
    color: white;
}


.precio__item:hover button{
    border: 1px solid black;
}


/* FIN SECCIÓN 2 */


/* SECCIÓN 3 */
.seccion3 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.seccion3 .left{
    width: 60%;
}

.seccion3 .left h2{
    color: rgb(36, 57, 57);
}

.seccion3 .left h2::after{
    content: "";
    display: block;
    background-color: var(--color-primary);
    height: 3px;
    width: 30%;
    margin-top: 15px;
    margin-bottom: 25px;
}


.seccion3 .left input{
    width: 70%;
    display: block;
    margin-bottom: 25px;
    height: 45px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    padding-left: 5px;
}

.seccion3 .left input:last-of-type{
    height: 120px;
}

.seccion3 .left button{
    display: block;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: var(--color-primary);
    border: none;
    font-weight: bold;
    justify-self: right;
    margin-right: 30%;
}


.seccion3 .right{
    width: 30%;
}


.seccion3 .right img{
    width: 80%;
    border-radius: 10%;
}

/* FIN SECCIÓN 3 */


/* FOOTER */
footer {
    height: 5vh;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}