p{
    color: purple;
    border: dotted;
}


.a{
    display: none;
}

.b{
    width: 100px;
    height: 50px;
    display: inline;
}

.c{
    /* width: 100px; */
    /* height: 50px; */
    display: block;
}

.d{
    width: 100px;
    height: 50px;
    display: inline-block;
}