*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    text-align: center;
}


#website{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid #ccc;

    
}



#cabecera{
    background-color: blue;
    color: white;   
}


#menu{
    background-color: lightblue;
}

#menu>ul{
    display: grid;
    grid-column: repeat(9, 1fr);
    list-style: none;
}

#contenido{
    background-color: #eee;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding: 20px;
}


#contenido article{
    background-color: #ccc;
    border: 1px solid #555;
}


#lateral{
    background-color: orange;
    color: white;
}


#pie-pagina{
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}