*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 70vh;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 6rem;
}

/* .slideshow {
    height: 100%;
    width: 100%;
    position: relative;
} */



.slideshow-wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
    animation: animacion 10s infinite;
}

.slide {
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@keyframes animacion {
    0%{
        left: 0;
    }

    15%{
        left: -100%;
    }


    30%{
        left: -200%;
    }


    50%{
        left: -300%;
    }

    65%{
        left: -200%;
    }


    80%{
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

