*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #444;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .card {
    position: relative;
}

.container .card .face{
    width: 300px;
    height: 200px;
}


.container .card .face.face1{
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
    transition: 0.4s;
    z-index: 1;
}


.container .card:hover .face.face1 {
    transform: translateY(0px);
    box-shadow: inset 0 0 60px whitesmoke,
                inset 20px 0 80px #f0f,
                inset -20px 0 80px #0ff,
                inset 20px 0 300px #f0f,
                inset -20px 0 300px #0ff,
                0 0 50px #fff,
                -10px 0 80px #f0f,
                10px 0 80px #0ff
}

.container .card .face.face1 .content{
    text-align: center;
    opacity: 0.2;
}

.container .card:hover .face.face1 .content{
    text-align: center;
    opacity: 1;
}


.container .card .face.face1 .content i {
    display: inline-block;
    font-size: 3em;
    color: white;
}

.container .card .face.face1 .content h3{
    font-size: 1em;
    text-align: center;
    color: white;
}


.container .card .face.face2 {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
    transition: transform 0.4s;
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}


.container .card .face.face2 .content p,a{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    display: inline-block;
    text-decoration: none;
    color: black;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
}

.container .card .face.face2 .content a:hover{
    background-color: #333;
    color: whitesmoke;
}