
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=Prata&display=swap');
@import "tailwindcss";


@theme {
    --font-dancing: "Dancing Script", cursive;
    --font-weight-ligera: 1200;   
    --color-coral: #F08080;
}


@layer components {
    .card {
        @apply bg-red-500 grid place-content-center 
        rounded-lg text-white font-bold border-2 border-red-800
        text-4xl 
    }

    .card2 {
        @apply grid place-content-center bg-pink-800 text-6xl text-green-300
        border-4 border-green-300 p-4 rounded-xl shadow-lg shadow-amber-700
    }
}