*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
}

.titulos{
    display: flex;
    border: 2px grey solid;
    width: 70%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.dias{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7,14.3%);
    grid-template-rows: repeat(5,100px);
    margin: 0 auto;
}

.dias div{
    border:1px solid grey;
    padding-top: 5px;
    padding-left: 5px;
}