@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital@0;1&display=swap');



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg:#fafafa;
    --align-title:center;
    --box-shadow:0 0 12px rgba(0,0,0,0.2);
}


body{
    font-family: "Lato",sans-serif;
}


.container{
    background-color: red;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin:0 auto;
    padding: var(--padding-container);
}