@import "taiwindcss";


@layer utilities {
    .bg-logo-light-mode {
        background-image: url("assets/logo-light-mode.svg");
    }

    .bg-curvy-light-mode{
        background-image: url("assets/bg-curvy-light-mode.svg");
    }

    .ficon:hover {
        filter:invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg) brightness(105%) contrast(104%)
    }
}

@theme {
    --text-cyan: hsl(176,68%,64%);
}