section{
    width: auto;
    height: 700px;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; 
}

.cajas{
    border: 4px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding: 20px;
    margin: 10px;
}


.red{
    background-color: red;
    order: 1;
    align-self: center;
}

.blue{
    background-color: blue;
    /* height: 150px;
    line-height: 150px; */
}

.yellow{
    background-color: yellow;
    /* flex-basis: 200px;
    height: 200px; */
    order: 2;
}

.green{
    background-color: green;
    /* height: 300px;
    line-height: 300px; */
    order: -1;
    align-self: flex-end;
}