section {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.caja {
    width: 180px;
    height: 180px;
    background-color: #30b037;
    color: white;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.caja1 {
    background-color: #c0392b;
    transition: background-color 1s linear;
}

.caja1:hover {
    background-color: #3f51b5;
}


.caja2 {
    background-color: #9b59b6;
    transition: font-size 1s ease;
}

.caja2:hover {
    font-size: 28px;
}


.caja3 {
    background-color: #2980b9;
    transition: color 0.5s ease-in;
}

.caja3:hover {
    color: red;
}


.caja4 {
    background-color: #3498db;
    transition: line-height 1s linear;
}

.caja4:hover {
    line-height: 300px;
}

.caja5 {
    border-radius: 0px;
    background-color: #17a589;
    transition: border-radius 1s ease-out;
}

.caja5:hover {
    border-radius: 50%;
}


.caja6 {
    background-color: #f1c40f;
    transition: box-shadow 1s ease-out;
}

.caja6:hover {
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.5);
}

.caja7 {
    background-color: #e67e22;
    transition: opacity 1s ease-out;
}

.caja7:hover {
    opacity: 0;
}


.caja8 {
    background-color: #95a5a6;
    transition: border-color 1s ease-out;
}

.caja8:hover {
    border-style: solid;
    border-color: black;
}

.caja9 {
    background-color: #2c3e50;
    transition: margin 1s ease-out;
}

.caja9:hover {
    margin: 80px;
}

.caja10 {
    background-color: black;
    transition: padding 1s ease-out;
}

.caja10:hover {
    padding: 30px;
}