*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


.flip-card {
    width: 600px;
    height: 400px;
    border: thick solid #000;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
    cursor: pointer;

    perspective: 10rem;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}


.flip-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}


.flip-face {
    position: absolute;
    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}


.flip-front {
    transform: rotateY(0deg);
}


.flip-back{
    transform: rotateY(180deg);
}


.flip-card:hover {
    transform: rotateY(180deg);
    
}