* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-left: 80px;
    margin-bottom: 40px;
}

h2::after {
    content: "";
    display: block;

    width: 150px;
    height: 3px;
    background-color: #e00030;

    
    margin-top: 5px;
    margin-left: 0;
}

.regulares {
    height: 800px;
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.irregulares {
    height: 1500px;
    width: 90%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 500px);

    grid-template-areas: 
    "imagen1 imagen2 imagen2 imagen3"
    "imagen4 imagen4 imagen5 imagen3"
    "imagen4 imagen4 imagen6 imagen6"
    "imagen7 imagen8 imagen8 imagen8";
}


#img1{
    grid-area: imagen1;
}

#img2{
    grid-area: imagen2;
}

#img3{
    grid-area: imagen3;
}

#img4{
    grid-area: imagen4;
}

#img5{
    grid-area: imagen5;
}


#img6{
    grid-area: imagen6;
}


#img7{
    grid-area: imagen7;
}

#img8{
    grid-area: imagen8;
}