*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.bg-shape {
    position: absolute;
    inset: 0;
    background: darkslateblue;
    clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: -1;
}

.left{
    width: 80%;
    justify-self: center;
    align-self: center;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

h1::after{
    content: "";
    display: block;
    width: 15%;
    height: 3px;
    background-color: darkslateblue;
    margin-left: 50px;
    margin-top: 10px;
}

input{
    display: block;
    width: 100%;
    margin: 30px;
    height: 40px;
}

input:last-of-type{
    height: 140px;
}

button{
    display: block;
    width: 40%;
    height: 45px;
    background-color: darkslateblue;
    border: 2px solid rgb(64, 55, 120);
    color: white;
    margin-left: 30px;
}


.right{
    width: 80%;
    align-self: center;
}

.right img {
    object-fit: cover;
    width: 100%;
}